<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail_writingMode</title>
    <link rel="stylesheet" href="./../../css/myLife/detail_writingMode.css" />
    <script defer src="./../../js/fragment/headerFetch.js"></script>
    <script defer src="./../../js/fragment/footerFetch.js"></script>
    <link rel="stylesheet" href="./../../css/reset.css" />
    <script defer src="./../../js/myLife/detail_writingMode.js"></script>

</head>

<body>
    <div id="wrapper">
        <!-- 헤더~~!!!!!!!!!!!!!!!!!!! -->
        <header>
        </header>
        <!-- 헤더 끝-========================================================================== -->
        <main>
            <!-- 메인 컨텐츠 영역 -->
            <div class="container">
                <!-- 1. 타이틀 -->
                <div class="wrapper-title">
                    <h1 class="title"> 즐거운 여름날 나의 하루~</h1>
                </div>
                <!-- 2. 년도 / 공개여부 셀렉트박스 -->
                <div class="wrapper-select-box">
                    <select id="select-year-detail" name="year2">  
                        <option value="1997">1997</option>
                        <option value="1998">1998</option>
                        <option value="1999">1999</option>
                        <option value="1999">1999</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                    <p class="text-year">년</p>
                    <select id="select-visibility-detail" name="visibility">
                        <option value="public">공개</option>
                        <option value="private">비공개</option>
                    </select>
                </div>
                <hr>
                <!-- 3. 파일추가 / 텍스트영역 -->
                <div class="wrapper-add-file">
                    <!-- 3-1. 파일추가 -->
                    <label for="file">
                        <div class="btn-upload">파일 추가</div>
                    </label>
                    <input type="file" name="file" id="file">
                    <!-- 3-2. 텍스트 영역 -->
                    <textarea id="content-textarea" name="text" placeholder="텍스트입력"></textarea>
                </div>
                <hr>
                <!-- 4. 저장 / 취소 버튼 -->
                <div class="wrapper-button">
                    <button type="submit" class="btn-save"><a id="btn-save" href="./../../HTML/myLife/detail_my.html">저장</a></button>
                    <button type="button" class="btn-cancel" onclick="window.history.back();"><a id="detail_button_2" href="./../../HTML/myLife/detail_my.html">취소</a></button>
                </div>
            </div>
            <div class="period">
                <ul class="period_1">
                    <li class="period_1_color1"><a href="#">유아기</a></li>
                    <li class="period_1_color2"><a href="#">유년기</a></li>
                    <li class="period_1_color3"><a href="">아동기</a></li>
                    <li class="period_1_color4"><a href="">청소년</a></li>
                    <li class="period_1_color5"><a href="">성인</a></li>
                    <li class="period_1_color6"><a href="">중년</a></li>
                    <li class="period_1_color7"><a href="">노년</a></li>
                </ul>
            </div>
        </main>
        <footer>
        </footer>
    </div>
</body>

</html>