<!-- 헤더~~!!!!!!!!!!!!!!!!!!! -->
<link rel="stylesheet" href="./../../css/fragment/header.css">
<link rel="stylesheet" href="./../../css/notion.css">
<link rel="stylesheet" href="./../../css/reset.css">
<header>
  <div class="header-wrapper">
    <div class="header-left">
      <div class="logo-box">
        <a href="./../main/main.html"
          ><img src="./../../img/main/timenotion.png" alt="로고 사진 넣어주세요"
        /></a>
      </div>
      <div class="category-box">
        <ul>
          <li><a href="#">about</a></li>
          <li><a href="./../myLife/mypage.html">나의 일대기</a></li>
          <li><a href="./../yourLife/yourLife.html">너의 일대기</a></li>
          <li><a href="./../everyLife/everyLife.html">모두의 일대기</a></li>
          <li><a href="./../community/inquiry.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
      <!-- 로그인 전 ----------- -->
      <div class="login-box">
        <a href="./../user/login.html" class="login-wrap">
          <div class="header-img-box"><img src="./../../img/main/로그인.png" alt="" /></div>
          <span>로그인</span>
        </a>
      </div>
      <div class="regist-box">
        <a href="./../user/join.html" class="regist-wrap">
          <div class="header-img-box"><img src="./../../img/main/회원가입.png" alt="" /></div>
          <span>회원가입</span>
        </a>
      </div>
      <!-- 로그인 후 ------------ .logout-box : display : none -->
      <div class="logout-box">
        <a href="#" class="logout-wrap">
          <div class="logout-img-box"><img src="./../../img/main/로그아웃.png" alt="" /></div>
          <span>로그아웃</span>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- 헤더 끝-========================================================================== -->
