<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.geungeunhanjan.mapper.BoardreplyMapper">
    <select id="selectBoard" resultType="CommentVO">
-- 댓글 구현 후 대댓글 mapper 작업 예정 --
        SELECT *
        FROM GGHJ_BOARD
        WHERE USER_ID = #{userId}
    </select>
</mapper>







